.card{
    background-image: linear-gradient(var(--color-grey1) 50%,var(--color-grey2));
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 100px;
}